
h1, h2, h3, h4, h5, h6, div, table, td, tr{
	text-align:center;
}

#MainTitle{

}
/*Setting general font*/
#fontSet{
	/*font-family: 'Fredoka One', cursive;*/
	font-family: 'Short Stack', cursive;
}

/* That header above the table */
#TableTitle{
	margin-left:;
	margin-right:;
	margin-top:40px;
	margin-bottom:10px;
}

/* By... */
#credits{

}

/*Margin/padding for table of translations*/
#table1{
	margin-top:40px;
	margin-bottom:;
}

/* Body (normal cells) of table */

#Avoirbody{
	background-color:green;
}

#Etrebody{
	background-color:blue;
}

#Allerbody{
	background-color:red;
}

#Fairebody{
	background-color:purple;
}

/*What does it mean?*/

#chapterbreak{

	margin-top:200px;
}

#explainit{
	margin-top:125px;
	margin-bottom:;
	margin-right:;
	margin-left:;
}

#whatislife{

}

#Avoirex{
	color:green;
}

#Etreex{

	color:blue;
}

#Allerex{

	color:red;
}

#Faireex{

	color:purple;
}
/* Quiz button */

#quizbutton{
	margin:35px;
}


/*WordSplit demo*/
